@import "./variable.scss";
@import "./mixins.scss";

body {
  @include setDefault;
}

.btn-add {
  @include btn-style;
  @include btn-delete($btn-padding, $btn-margin);
}

.btn-delete {
  @include btn-style;

  margin-left: $btn-delete-mr-l;
  height: $btn-delete-h;
  width: 99px;
  padding: 0px 10px;
  text-align: center;
  margin: auto;
  margin-right: 5px;
  display: inline-block;
}

.content {
  text-align: center;
  color: $content-color;
}

.todos {
  background-color: $todos-background;
  width: $todos-width;
  border-radius: $todos-radius;
  margin: auto;
  padding: $todos-padding;
  margin-right: 20px;
}

.todosYapildi {
  background-color: $todos-background;
  width: $todos-width;
  border-radius: $todos-radius;
  margin: auto;
  padding: $todos-padding;
  text-decoration: line-through;
}

.todos::before {
  margin-top: 5px;
}

li {
  list-style: none;
  background-color: $btn-color;
}
.title {
  text-align: center;

  &:hover {
    color: $title-hover;
  }
}

.count {
  color: $count-color;
}

.item {
  padding: $items-padding;
  border: $items-border;
  border-radius: $items-radius;
  width: 450px;
  display: flex;
}

br {
  display: flex;
  margin: $br-margin;
}

.store {
  display: flex;
  margin: auto;

  .items {
    width: 900px;
  }
}


.title3 {
  color: royalblue;
  padding-top: 30px;
}

