@import './variable.scss';

.btn-add {
  background-color: $btn-background;
  border: $btn-border;
  border-radius: $btn-radius;
  padding: $btn-padding;
  margin: $btn-margin;

  font-size: $btn-font-size;
  font-family: fantasy;
  color: $btn-color;

  &:hover {
    background-color: $btn-hover-background;
    color: $btn-color;
  }
}

.btn-delete {
  background-color: $btn-background;
  border: $btn-border;
  border-radius: $btn-radius;
  
  margin-left: 200px;
  height: 25px;
  width: 100px;
  text-align: center;
  margin: auto;

  font-size: $btn-font-size;
  font-family: fantasy;
  color: $btn-color;

  &:hover {
    background-color: $btn-hover-background;
    color: $btn-color;
  }
}


.content {
  text-align: center;
  color: $content-color;
}

.todos {
  background-color:  $todos-background;
  width: $todos-width;
  border-radius: $todos-radius;
  margin: auto;
}
.todos::before {
  margin-top: 5px;
}

li {
  list-style: none;
  background-color: $btn-color;
}
.title {
  text-align: center;

  &:hover {
    color: $title-hover;
  }
}

.count {
  color: $count-color;
}

.item {
  padding: $items-padding;
  border: $items-border ;
  border-radius: $items-radius ;
  margin: $items-margin;
  display: flex;

}


br {
  display: flex;
  margin: $br-margin;
}
