$btn-background : rgba(49, 48, 48, 0.8);
$btn-color: #fff;
$btn-hover-background: #000;

$btn-border: 0px solid;
$btn-margin: 30px;
$btn-font-size: 16px;
$btn-padding: 3px 6px;
$btn-radius: 5px;

$content-color: #8B0000;

$todos-background: #ccc;
$todos-width: 600px;
$todos-radius: 4px;

$count-color: #850000;

$title-hover: #676868;

$items-padding: 15px;
$items-border: 1px solid #000;
$items-margin: 0px 100px;
$items-radius: 15px;

$br-margin: 1px 0;
